extends layout 

block edit_title    
    script(src="/javascripts/cards.js" defer)

block content 
        - var i = 0;
        div.row.title-display
            while i < entertainment.length
                div.col
                    div.card.movie-card.mx-auto
                        input.id_num(type="hidden" value=entertainment[i]._id)
                        div.card-header.header-top
                            button.close.decision(type="button" aria-label="Close")
                                <span aria-hidden="true">&times;</span>
                            h3.card-title #{entertainment[i].title}
                        a(href=entertainment[i].url)
                            img.card-img-top(src=entertainment[i].img.src alt=entertainment[i].img.alt)
                        div.card-header
                            button.btn.btn-no.decision.negative(type="button") No
                            button.btn.btn-yes.decision.affirmative(type="button") Yes
                            button.btn.center.btn-success.decision.watched-home(type="button") Watched
                            
                        div.card-body 
                            p.card-text #{entertainment[i].description}
                        a.btn.btn-primary(href=entertainment[i].url) Watch Now
                        div.card-footer.text-muted
                            p Platform: #{entertainment[i].platform}
                            p Genres: 
                                - var j = 0
                                while j < (entertainment[i].genre.length - 1)
                                    |  #{entertainment[i].genre[j]}, 
                                    - j++
                                if entertainment[i].genre.length
                                    |  #{entertainment[i].genre[entertainment[i].genre.length - 1]}
                                else 
                                    |  None
                            
                - i++